.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 100%;
    width: 100%;

}

@media  screen and (max-width: 600px) {
    .blogs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
   }

   .blogs div{
       width: 100%;
   }
  }