.blogs{
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap : 5px;
    height: 100%;
    width: 100%;

}


@media  screen and (max-width: 600px) {
    .blogs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
   }

   .blogs div{
       width: 100%;
   }
  }